body { background-color: rgb(1, 35, 46);}
.to-do:hover
{
    /* background-color: #b07838; */
    opacity: 0.3; /* Slightly transparent on hover */
    text-decoration: underline; /* underline style */
}
.to-do:active
{
    background-color: #624a2f; /* Change color when clicked */
}

/* When the checkbox is checked, select the adjacent label and cross it out */
input[type="checkbox"]:checked + label 
{
text-decoration: line-through;
color: #888; /* Dims the text slightly */
}
.Bookish-corner 
{
    background-color: #73473c;
    color: rgb(217, 210, 210);
    font-size: 18px;
    font-family:'Allison', cursive; 
    border-radius: 30px;
    border-color: rgb(47, 41, 41);
    height: 80px; 
    width: 800px;
    margin-bottom: 2px; 
    cursor:pointer;
    transition: box-shadow 0.3s ease
                color 0.15s; 
    vertical-align: middle; 
}
.Bookish-corner:hover
{
    box-shadow: 5px 5px 8px rgba(135, 135, 135, 0.8);
    color: rgb(255, 255, 255);
}
.design-kb
{
    font-size: 24px;
    letter-spacing: 2px;
}
.thumbnail
{
    width: 200px; 
    height: 580px;
    object-fit: cover;
    border-radius: 20px;

}
.search-bar
{
    width: 180px;
    height: 24px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
}
.to-do 
{
    /* CSS Selector - which elements to style or which elements we're targetting*/
    background-color: #e0a159;
    /* css property: css value */
    color: white;
    /* border: none; */
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 4px;
    height: 18px; 
    width: 187px;
    cursor:pointer; /* Change cursor style*/
    transition: opacity 0.15s; /* Smooth opacity transition */
    padding-top: 2px; /* add spacing inside the button*/
    padding-bottom: 18px; 
}
.list-todo
{
    width: 500px;
    margin-top: 20px;
    height: 280px;
    box-sizing: border-box;
    border: 2px solid black;
    /* overflow-y: auto; */
    color: white;
}
.layout
{
    width: 1000px;
}
.horizontal-layout1
{
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.horizontal-layout2
{
    width: 200px;
    display: inline-block;
    vertical-align: top;
}